<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="SoftTinyCoSettings" type="DependencyExplorer.Infrastructure.SoftTinyCoSettings, DependencyExplorer" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <SoftTinyCoSettings ServerUrl="http://api.tiny.dev:3000/v1/trial" />
</configuration>